@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Bold.eot');
	src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Bold.woff') format('woff'),
		url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Thin.eot');
	src: url('../fonts/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Thin.woff') format('woff'),
		url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Light.eot');
	src: url('../fonts/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Light.woff') format('woff'),
		url('../fonts/RobotoSlab-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Regular.eot');
	src: url('../fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RobotoSlab-Regular.woff') format('woff'),
		url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Light.eot');
	src: url('../fonts/KlavikaBasic-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Light.woff') format('woff'),
		url('../fonts/KlavikaBasic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Medium.eot');
	src: url('../fonts/KlavikaBasic-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Medium.woff') format('woff'),
		url('../fonts/KlavikaBasic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Bold';
	src: url('../fonts/KlavikaBasic-BoldItalic.eot');
	src: url('../fonts/KlavikaBasic-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-BoldItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Medium';
	src: url('../fonts/KlavikaBasic-MediumItalic.eot');
	src: url('../fonts/KlavikaBasic-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-MediumItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Bold.eot');
	src: url('../fonts/KlavikaBasic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Bold.woff') format('woff'),
		url('../fonts/KlavikaBasic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Regular';
	src: url('../fonts/KlavikaBasic-RegularItalic.eot');
	src: url('../fonts/KlavikaBasic-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-RegularItalic.woff') format('woff'),
		url('../fonts/KlavikaBasic-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic Light';
	src: url('../fonts/KlavikaBasic-Light.eot');
	src: url('../fonts/KlavikaBasic-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Light.woff') format('woff'),
		url('../fonts/KlavikaBasic-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Klavika Basic';
	src: url('../fonts/KlavikaBasic-Regular.eot');
	src: url('../fonts/KlavikaBasic-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KlavikaBasic-Regular.woff') format('woff'),
		url('../fonts/KlavikaBasic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'surge';
    src: url('../fonts/surge.eot');
    src: url('../fonts/surge.eot?#iefix') format('embedded-opentype'),
         url('../fonts/surge.woff') format('woff'),
         url('../fonts/surge.ttf') format('truetype'),
         url('../fonts/surge.svg#surge') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='surge-logo-']:before{
	display: inline-block;
   font-family: 'surge';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   // -webkit-font-smoothing: subpixel-antialiased;
   // -moz-osx-font-smoothing: grayscale
}
.surge-logo-stacked:before{content:'\0041';}
.surge-logo-long:before{content:'\0042';}
.surge-logo-symbol:before{content:'\0043';}
.surge-logo-stacked-block:before{content:'\0044';}
.surge-logo-long-block:before{content:'\0045';}

@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='surge-icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.surge-icon-mail:before{content:'\0041';}
.surge-icon-phone:before{content:'\0042';}
.surge-icon-quotation_mark_start:before{content:'\0043';}
.surge-icon-quotation_mark_end:before{content:'\0044';}
.surge-icon-map:before{content:'\0045';}
.surge-icon-at:before{content:'\0046';}
.surge-icon-document:before{content:'\0047';}