// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;
$grid-float-breakpoint: 992px;

// Colors
$brand-primary:         #663699;

$color1: #FFFFFF;
$color2: #F7F7F7;
$color3: #D2D2D2;
$color4: #CCCCCC;
$color5: #808080;
$color6: #404040;
$color7: #000000;

$green: $color1;
$green-dark: $color2;
$teal: $color3;
$cyan: $color4;
$white-dark: $color5;
$grey: $color6;
$grey-light: $color7;


$grey: 					$color3;
$grey-dark: 					$color6;
$gray : $grey;

$primary-font: 'Roboto',"Helvetica","Arial","sans-serif";
$secondary-font: "Helvetica Neue","Helvetica","Arial","sans-serif";
// $thin-font: 'PT Sans',"Helvetica","Arial","sans-serif";

$play-icon: '';
$facebook-icon: '';
$twitter-icon: '';
