// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #2795B6;
$teal:					#2795B6;
$teal-alt: 				#00506B;
$teal-dark: 			#003E4D;
$blue: 					#12B5C6;
$light-blue: 			#86B9BD;
$yellow: 				#D8D001;
$red: 					#8b1f2c;

$yellow-dark: 			#3D4000; 
$grey: 					#F6F6F6; 
$gray : $grey;

$primary-font: "Klavika Basic","Helvetica","Arial","sans-serif";
$secondary-font: "Roboto Slab","Helvetica Neue","Helvetica","Arial","sans-serif";
$thin-font: 'Klavika Basic Light',"Helvetica","Arial","sans-serif";