
body {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/*==================================
=            Typograhpy            =
==================================*/

body {
 opacity:1;
    font-family: $primary-font;
    line-height: 1;
    font-size: 10px;
    background-repeat: no-repeat;
    font-weight: 100;
    color: #000;
}

h1,.h1 {
	font-family: $primary-font;
	font-style:normal;
	font-weight:500;
	text-shadow:none;
	font-size:6em;
}
h2,
.h2  {
	font-family:$primary-font;
	 text-shadow:none;
	font-weight:100;
	font-size:4em;
}

h3 {
	font-size:3.6em;
}

p,.p1 {
	font-family:$primary-font;
	font-weight:400;
	font-size:1.4em;
	line-height:1.7em;
}

.p2 { font-size:4.8em; line-height:1.7em;}
.p3 { font-size:3.6em; line-height:1.7em;  }
.p4 { font-size:3em; line-height:1.7em;  }
.p5 { font-size:2.4em; line-height:1.7em;  }
.p6 { @extend .p5;
		color:rgba(#000,0.7);
    	font-size: 2em;
    	line-height: 1.8em;
    }


 $border-style:5px solid #fff;
    @for $i from 0 through 10 {
    	$direction : top;
      .padding-#{$i}-#{$direction}{padding-#{$direction}: 0em + $i;}
      .margin-#{$i}-#{$direction}{ margin-#{$direction}: 0em + $i;}
      .border-#{$direction}{ border-#{$direction}: $border-style; }
      $direction : right;
      .padding-#{$i}-#{$direction}{padding-#{$direction}: 0em + $i;}
      .margin-#{$i}-#{$direction}{margin-#{$direction}: 0em + $i;}
      .border-#{$direction}{ border-#{$direction}: $border-style; }
      $direction : left;
      .padding-#{$i}-#{$direction}{padding-#{$direction}: 0em + $i;}
      .margin-#{$i}-#{$direction}{margin-#{$direction}: 0em + $i;}
      .border-#{$direction}{ border-#{$direction}: $border-style; }
      $direction : bottom;
      .padding-#{$i}-#{$direction}{padding-#{$direction}: 0em + $i;}
      .margin-#{$i}-#{$direction}{ margin-#{$direction}: 0em + $i;}
      .border-#{$direction}{ border-#{$direction}: $border-style; }
    }
    //background-colors
   @each $colorlist, $bgcolor in $colorlist {
       .bg-#{$colorlist}{
        background-color:$bgcolor;
       }
      }
    section
    .bg-cover {
    	background-size:cover;
    }
    section {
    	background-size:cover;
      &.background {
        position:relative;
        &:before {
          content: '';
          background-color: rgba(48, 58, 58, 0.7);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: inline-block;
          }
      }
      &.container-fluid {
      padding-left:0px;
      padding-right:0px;
      }
      &.container {
        &.margin-0-left {
              margin-left: auto;
        }
        &.margin-0-right {
              margin-right: auto;
        }
        &.padding-0-left {
              padding-left: 15px;
        }
        &.padding-0-right {
              padding-right: 15px;
        }
      }
    }
    .box {
    	padding:1em;
    	background-color:rgba(#fff,0.8);
    }
  .molecule {
    display: inline-block;
    width: 100%;
    }

  section{
    display: inline-block;
    width: 100%;
  }

.icon-circle {
    overflow: hidden;
    border-radius:100%;
        padding: 3em;
        display: inline-block;
        i{
          font-size: 6em;
          color:#fff;
        }
    &.bg-red-dark { 
      color:#fff;
      i { color :#fff;} 
    }
    &.bg-red-light { 
      color:#fff;
      i { color :#fff;}
    }
    &.bg-grey { 
      color:#fff ;
      i { color :#fff;} 
    }
    &.bg-blue { 
      color:#fff ;
      i { color :#fff;} 
    }
    &.bg-white  { 
      color:#000 ;
      i { color :#000;} 
    }
    &.bg-blue-dark { 
      color:#fff ;
      i { color :#fff;}
    }
    &.bg-transparent { 
      color:#fff; }    

}

section{
  &.bg-red-dark { 
    .card{
      .wrapper{
        color:#fff;
      }
    }
  }
  &.bg-red-light { 
    .card{
      .wrapper{
        color:#fff;
      }
    }
  }
  &.bg-grey { 
    .card{
      .wrapper{
        color:#000 ;
      }
    }
  }
  &.bg-blue { 
    .card{
      .wrapper{
        color:#fff ;
      }
    }
  }
  &.bg-white  { 
    .card{
      .wrapper{
        color:#000 ;
      }
    }
  }
  &.bg-blue-dark { 
    .card{
      .wrapper{
        color:#fff ;
      }
    }
  }
  &.bg-transparent { 
    .card{
      .wrapper{
        color:#fff; }
      }
    }
  &[class*='bg-']{
    .card.background{
      .wrapper{
        color:#fff;
      }
    }
  }
}