// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}
.form {
	padding:2em 6em 4em 6em;
	overflow:hidden;
}


.required{
	    display: inline-block;
    color: #fff;
    font-size: 1.4em;
    float: left;
    margin-top: 4em;
    margin-left: 4em;
}
