.tabs.molecule {
	.nav-tabs {
		border:0px;
		li {
			position:relative;
				&.active {
					&:before {
						@include triangle(40px,#fff,top);
							content:"";
							position: absolute;
						  bottom: -20px;
					    left: 0;
					    right: 0;
					    margin: 0 auto;
					}
				}
			a {
				border:0px;
				background: none;
				color:#fff;
				text-align: center;
    		min-height: 258px;
				span {
					clear:both;
				}
				h1 { 
					clear:both;
					padding: 0em 2.5em;
				}
			}
			&.col-md-3 {
				h1 {
					padding:0em 0.6em;
				}
			}
		}

	} 
	.tab-content {
		background:#fff;
		padding:3vw;
		margin:2em;
		margin-top:2em;
    z-index: 1;
    position: relative;
	}
}